<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head', { title: 'Something went wrong!' }) %>
</head>

<body>

    <main>
        <h1>sorry you are not authorised to edit other's posts</h1>
        <a class="btn" href="/">Back to home!</a>
    </main>
</body>

</html>